@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-justify {
  @apply flex justify-center;
}

.flex-align {
  @apply flex items-center;
}

.flex-colm {
  @apply flex flex-col;
}

.about-link {
  @apply underline underline-offset-4;
}

.about-extra {
  @apply my-4 text-xl font-bold uppercase;
}

.about-para {
  @apply hidden pt-2 lg:block;
}

.about-abbr {
  @apply text-lg hover:text-blue-500
}

.happy-icons {
  @apply w-auto h-8 hover:scale-110
}

.nav-text {
  @apply text-base sm:text-lg
}

/* Scrollbar */
.custom-scrollbar {
  max-height: 50vh;
  padding-right: 4px;
  padding-bottom: 4px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

/* Works for Chrome, Brave */
.custom-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: gray;
}

/* Scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: gray #1f1f1f;
}