@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-justify {
  @apply flex justify-center;
}

.flex-align {
  @apply flex items-center;
}

.flex-colm {
  @apply flex flex-col;
}

.about-link {
  @apply font-medium decoration-1 underline underline-offset-4 hover:opacity-80;
}

.about-extra {
  @apply my-4 text-xl font-bold uppercase;
}

.about-para {
  @apply hidden pt-2 lg:block;
}

.about-abbr {
  @apply hover:text-blue-500;
}

.happy-icons {
  @apply w-auto h-8 hover:scale-110;
}

.checking-text {
  @apply absolute pt-3 text-sm;
}

.nav-text {
  @apply text-base sm:text-lg;
}

.arrow-head {
  @apply absolute w-0 h-0 border-t-8 border-t-[#FFA500] border-x-[7px] border-x-transparent border-solid;
}

.underlined {
  @apply bg-left-bottom bg-gradient-to-r from-white/80 to-white/80 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out;
}

.social-before {
  @apply h-full group-hover:hidden;
}

.social-after {
  @apply hidden w-auto h-full group-hover:block;
}


/* Scrollbar */
@layer components {
  .floating-scrollbar {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
  /* Chrome, Brave, Edge, Safari */
  .floating-scrollbar::-webkit-scrollbar {
    width: 0.5em;
  }
  .floating-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background: #1f1f1f;
  }

  /* Firefox */
  .floating-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .floating-scrollbar:hover {
    scrollbar-color: #1f1f1f #1f1f1f;
  }
}